.scrollable-table {
  max-height: 300px; /* Set the desired max height for the table */
  overflow-y: auto;  /* Enable vertical scrolling */
}

.scrollable-table table {
  width: 100%; /* Ensure the table takes the full width of the container */
  border-collapse: collapse;
}

.scrollable-table thead th {
  position: sticky;
  top: 0;
  background-color: #143658;
  z-index: 1;
}

.scrollable-table tbody {
  display: table-row-group; /* Keep the default table structure */
}