.scrollable-table {
  max-height: 250px; /* Set the desired max height for the table */
  overflow-y: auto;  /* Enable vertical scrolling */
}

.scrollable-table table {
  width: 100%; /* Ensure the table takes the full width of the container */
  border-collapse: collapse;
}

.scrollable-table thead th {
  position: sticky;
  top: 0;
  background-color: #143658;
  z-index: 1;
}

.scrollable-table tbody {
  display: table-row-group; /* Keep the default table structure */
}

.btn-ops{
  margin-left: 4%;
}

.no-todos-message{
  text-align: center;
  color: #888;
  font-size: 1.2rem;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 10px;
  border: 1px solid #ddd;
  margin-top: 2rem;
}