.btn-login {
  background-color: #007bff !important;
  color: #f8f9fa !important;
  border-color: #007bff !important;
}

  .btn-Sign{
  background-color: #007bff !important;
  color: #f8f9fa !important;
  border-color: #007bff !important;
}

/* Background Image Styling */
.homepage {
  background-image: url("../../public/images/background.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
}

/* Overlay Effect for Better Readability */
.homepage-content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;  
}

/* Card Styling */
.card {
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

/* Card Container */
.custom-card {
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  background: #fff;
}

.custom-card .card-img-container{
  height: 80%;
}

.custom-card .card-body-custom{
  padding: 0px;
}

/* Card Hover Effect */
.custom-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Image Styling */
.card-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
}

.card-img-top {
  height: 165px;
  border-radius: 10%;
  object-fit: cover;
}

/* Button */
.custom-card .btn {
  margin-top: 10px;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 14px;
}

/* Heading */
.task-heading {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 700;
  color:white;

}

/* Subheading */
.task-subheading {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  font-weight: 400;
  color: white; /* Bootstrap gray */
  line-height:0.5;
}


